form {
	width: 800px;
	background-color: #ede;
	margin: 0px auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

form input:first-child{
    background-color: #333;
	color: white;
	padding: 5px;
	border: none;
}
form input[type="text"]{
    background-color: #333;
	color: white;
	padding: 5px;
	border: none;
	margin: 5px 0;
}
select {
	background-color: #333;
	color: white;
	padding: 5px;
}
select option:first-child {
	color: red;
}
select option:nth-child(2) {
	color: green;
}
input:focus {
	outline: none;
}
input[type="submit"]  {
	background-color: #333;
	margin: 10px auto;
	color: #81fb8f;
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	
}


.results {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.results .box {
	background-color: rgb(237, 144, 144);
	color: aliceblue;
	flex: 1;
	margin: 5px;
	text-align: center;
	padding: 10px;
}